[project]
    description = Access inherited by all other projects.
[receive]
    requireContributorAgreement = false
    requireSignedOffBy = false
    requireChangeId = true
[submit]
    mergeContent = true
[capability]
    accessDatabase = group Administrators
    administrateServer = group Administrators
    createProject = group Project Bootstrappers
    killTask = group Administrators
    priority = batch group Non-Interactive Users
    runAs = group Project Bootstrappers
    streamEvents = group Registered Users
[access "refs/*"]
    create = group Project Bootstrappers
    create = group Release Managers
    forgeAuthor = group Registered Users
    forgeCommitter = group Project Bootstrappers
    push = +force group Project Bootstrappers
    pushMerge = group Project Bootstrappers
    pushSignedTag = group Project Bootstrappers
    pushTag = group Continuous Integration Tools
    pushTag = group Project Bootstrappers
    pushTag = group Release Managers
    read = group Anonymous Users
    editTopicName = group Registered Users
[access "refs/drafts/*"]
    push = block group Registered Users
[access "refs/for/refs/*"]
    push = group Registered Users
    pushMerge = group Administrators
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group Administrators
    label-Code-Review = -2..+2 group Project Bootstrappers
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -2..+2 group Administrators
    label-Verified = -2..+2 group Continuous Integration Tools
    label-Verified = -2..+2 group Project Bootstrappers
    label-Workflow = -1..+1 group Administrators
    label-Workflow = -1..+0 group Change Owner
    label-Workflow = -1..+1 group Project Bootstrappers
    rebase = group Registered Users
    submit = group Administrators
    submit = group Continuous Integration Tools
    submit = group Project Bootstrappers
[access "refs/meta/config"]
    read = group Project Owners
[label "Code-Review"]
    abbreviation = R
    copyAllScoresOnTrivialRebase = true
    copyAllScoresIfNoCodeChange = true
    copyMinScore = true
    function = MaxWithBlock
    value = -2 This shall not be merged
    value = -1 This patch needs further work before it can be merged
    value = 0 No score
    value = +1 Looks good to me, but someone else must approve
    value = +2 Looks good to me, approved
[label "Verified"]
    function = MaxWithBlock
    value = -2 Fails
    value = -1 Doesn't seem to work
    value = 0 No score
    value = +1 Works for me
    value = +2 Verified
[label "Workflow"]
    function = MaxWithBlock
    value = -1 Work in progress
    value = 0 Ready for reviews
    value = +1 Approved
