[access "refs/*"]
    read = group Anonymous Users
    read = group Registered Users
[access "refs/heads/*"]
    abandon = group Change Owner
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -2..+2 group Non-Interactive Users
    label-Workflow = -1..+1 group Registered Users
    rebase = group Change Owner
[access]
    inheritFrom = mcp-ci
