[access "refs/for/refs/*"]
    pushMerge = group mcp-ci-core
[access "refs/heads/*"]
    abandon = group mcp-ci-core
    abandon = group Change Owner
    label-Code-Review = -2..+2 group mcp-ci-core
    label-Verified = -2..+2 group mcp-ci-core
    label-Workflow = -1..+1 group mcp-ci-core
    rebase = group mcp-ci-core
    rebase = group Change Owner
    submit = group mcp-ci-core
[access "refs/meta/*"]
    read = group Non-Interactive Users
    read = group mirantis
[access "refs/meta/config"]
    read = group Non-Interactive Users
    read = group mirantis
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[access]
    inheritFrom = All-Projects
