[access "refs/*"]
    read = group Anonymous Users
    read = group Registered Users
[access "refs/heads/*"]
    abandon = group Change Owner
    abandon = group mcp-ci-core
    create = group mcp-ci-core
    label-Code-Review = -2..+2 group mcp-ci-core
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -2..+2 group mcp-ci-core
    label-Verified = -2..+2 group Non-Interactive Users
    label-Workflow = -1..+0 group Change Owner
    label-Workflow = -1..+1 group mcp-ci-core
    rebase = group mcp-ci-core
    rebase = group Change Owner
    submit = group mcp-ci-core
[access]
    inheritFrom = mcp-ci
