[access "refs/*"]
    push = +force group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group mcp-ci-mirroring
    read = group Non-Interactive Users
    read = group mcp-ci-mirroring
    read = group mirantis
[access "refs/heads/*"]
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    push = +force group mcp-ci-mirroring
[access "refs/for/refs/*"]
    forgeCommitter = group mcp-ci-mirroring
    push = group mcp-ci-mirroring
[access "refs/meta/*"]
    read = group Non-Interactive Users
    read = group mirantis
[access "refs/meta/config"]
    read = group Non-Interactive Users
    read = group mirantis
[access "refs/tags/*"]
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group mcp-ci-mirroring
    pushSignedTag = group mcp-ci-mirroring
    pushTag = group mcp-ci-mirroring
[receive]
    requireChangeId = false
[submit]
    mergeContent = true
[access]
    inheritFrom = mcp-ci
