[access "refs/for/refs/*"]
    pushMerge = group mcp-ci-core
    read = group Registered Users
    read = group mcp-tcp-core
[access "refs/heads/*"]
    abandon = group Change Owner
    abandon = group mcp-ci-core
    abandon = group mcp-tcp-core
    create = group mcp-ci-core
    create = group mcp-tcp-core
    label-Code-Review = -2..+2 group mcp-ci-core
    label-Code-Review = -2..+2 group mcp-tcp-core
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -2..+2 group mcp-ci-core
    label-Verified = -2..+2 group mcp-tcp-core
    label-Verified = -2..+2 group Non-Interactive Users
    label-Workflow = -1..+0 group Change Owner
    label-Workflow = -1..+1 group mcp-ci-core
    label-Workflow = -1..+1 group mcp-tcp-core
    rebase = group mcp-ci-core
    rebase = group mcp-tcp-core
    rebase = group Change Owner
    submit = group mcp-ci-core
    submit = group mcp-tcp-core
[access "refs/meta/*"]
    read = group Non-Interactive Users
    read = group mcp-tcp-core
[access "refs/meta/config"]
    read = group Non-Interactive Users
    read = group mcp-tcp-core
[access "refs/tags/*"]
    create = group mcp-ci-core
    create = group mcp-tcp-core
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group mcp-ci-core
    pushMerge = group mcp-tcp-core
    pushMerge = group mcp-ci-mirroring
    pushSignedTag = group mcp-ci-core
    pushSignedTag = group mcp-tcp-core
    pushSignedTag = group mcp-ci-mirroring
    pushTag = group mcp-ci-core
    pushTag = group mcp-tcp-core
    pushTag = group mcp-ci-mirroring
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[access]
    inheritFrom = All-Projects
