[access "refs/*"]
    push = +force group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group mcp-ci-mirroring
    read = group Non-Interactive Users
    read = group mcp-ci-mirroring
    read = group kubernetes-core
    read = group mirantis
[access "refs/heads/*"]
    abandon = group Change Owner
    abandon = group kubernetes-core
    create = group mcp-ci-core
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    label-Code-Review = -2..+2 group kubernetes-core
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -2..+2 group kubernetes-core
    label-Verified = -2..+2 group Non-Interactive Users
    label-Workflow = -1..+1 group kubernetes-core
    label-Workflow = -1..+0 group Change Owner
    push = +force group mcp-ci-mirroring
    rebase = group Change Owner
    rebase = group kubernetes-core
    submit = group kubernetes-core
[access "refs/for/refs/*"]
    forgeCommitter = group mcp-ci-mirroring
    push = group mcp-ci-mirroring
    pushMerge = group kubernetes-core
[access "refs/meta/*"]
    read = group Non-Interactive Users
    read = group mirantis
[access "refs/meta/config"]
    read = group Non-Interactive Users
    read = group mirantis
[access "refs/tags/*"]
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group mcp-ci-mirroring
    pushSignedTag = group mcp-ci-mirroring
    pushTag = group mcp-ci-mirroring
[receive]
    requireChangeId = false
[submit]
    mergeContent = true
[access]
    inheritFrom = All-Projects
