[access "refs/*"]
    push = +force group mk-ci-mirroring
    forgeCommitter = group mk-ci-mirroring
    forgeCommitter = group mcp-mk-core
    pushMerge = group mk-ci-mirroring
    read = group Non-Interactive Users
    read = group mk-ci-mirroring
    read = group mcp-tcp-core
[access "refs/heads/*"]
    abandon = group Change Owner
    abandon = group mcp-tcp-core
    create = group mcp-mk-core
    create = group mk-ci-mirroring
    forgeCommitter = group mk-ci-mirroring
    forgeCommitter = group mcp-mk-core
    label-Code-Review = -2..+2 group mcp-tcp-core
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -1..+1 group Non-Interactive Users
    label-Workflow = -1..+1 group mcp-tcp-core
    label-Workflow = -1..+0 group Change Owner
    push = +force group mk-ci-mirroring
    rebase = group Change Owner
    rebase = group mcp-tcp-core
    submit = group mcp-tcp-core
[access "refs/for/refs/*"]
    forgeCommitter = group mk-ci-mirroring
    forgeCommitter = group mcp-mk-core
    push = group mk-ci-mirroring
    pushMerge = group mcp-tcp-core
[access "refs/meta/*"]
    read = group Non-Interactive Users
    read = group mcp-tcp-core
[access "refs/meta/config"]
    read = group Non-Interactive Users
    read = group mcp-tcp-core
[access "refs/tags/*"]
    create = group mcp-mk-core
    create = group mk-ci-mirroring
    forgeCommitter = group mk-ci-mirroring
    forgeCommitter = group mcp-mk-core
    pushMerge = group mcp-mk-core
    pushMerge = group mk-ci-mirroring
    pushSignedTag = group mcp-mk-core
    pushSignedTag = group mk-ci-mirroring
    pushTag = group mcp-mk-core
    pushTag = group mk-ci-mirroring
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[access]
    inheritFrom = All-Projects
