[access "refs/*"]
    push = +force group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group mcp-ci-mirroring
[access "refs/heads/*"]
    abandon = group Change Owner
    abandon = group mcp-installer-core
    create = group mcp-ci-core
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    label-Code-Review = -2..+2 group mcp-installer-core
    label-Workflow = -1..+1 group mcp-installer-core
    push = +force group mcp-ci-mirroring
    rebase = group Change Owner
    rebase = group mcp-installer-core
    submit = group mcp-installer-core
[access "refs/for/refs/*"]
    forgeCommitter = group mcp-ci-mirroring
    push = group mcp-ci-mirroring
    pushMerge = group mcp-installer-core
[access "refs/meta/*"]
    read = group Non-Interactive Users
    read = group mirantis
[access "refs/meta/config"]
    read = group Non-Interactive Users
    read = group mirantis
[access "refs/tags/*"]
    create = group mcp-ci-core
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group mcp-ci-core
    pushMerge = group mcp-ci-mirroring
    pushSignedTag = group mcp-ci-core
    pushSignedTag = group mcp-ci-mirroring
    pushTag = group mcp-ci-core
    pushTag = group mcp-ci-mirroring
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[access]
    inheritFrom = All-Projects
