[access "refs/*"]
    push = +force group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group mcp-ci-mirroring
    read = group Non-Interactive Users
    read = group mcp-ci-mirroring
    read = group calico-core
    read = group mirantis
[access "refs/heads/*"]
    abandon = group Change Owner
    abandon = group calico-core
    create = group calico-core
    create = group mcp-ci-core
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    label-Code-Review = -2..+2 group calico-core
    label-Code-Review = -1..+1 group Registered Users
    label-Verified = -2..+2 group calico-core
    label-Verified = -2..+2 group Non-Interactive Users
    label-Workflow = -1..+0 group Change Owner
    label-Workflow = -1..+1 group calico-core
    push = +force group mcp-ci-mirroring
    rebase = group Change Owner
    rebase = group calico-core
    submit = group calico-core
[access "refs/for/refs/*"]
    forgeCommitter = group mcp-ci-mirroring
    push = group mcp-ci-mirroring
    pushMerge = group calico-core
[access "refs/meta/*"]
    read = group Non-Interactive Users
    read = group mirantis
    read = group calico-core
[access "refs/meta/config"]
    read = group Non-Interactive Users
    read = group mirantis
    read = group calico-core
[access "refs/tags/*"]
    create = group calico-core
    create = group mcp-ci-mirroring
    forgeCommitter = group mcp-ci-mirroring
    pushMerge = group calico-core
    pushMerge = group mcp-ci-mirroring
    pushSignedTag = group calico-core
    pushSignedTag = group mcp-ci-mirroring
    pushTag = group calico-core
    pushTag = group mcp-ci-mirroring
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[access]
    inheritFrom = All-Projects
